name: docker-ros

on: push

jobs:

  ros2-jazzy:
    runs-on: ubuntu-latest
    steps:
      - uses: ika-rwth-aachen/docker-ros@main
        with:
          platform: amd64
          target: run
          base-image: rwthika/ros2:jazzy
          rmw-implementation: rmw_zenoh_cpp
          command: ros2 launch event_detector event_detector.launch.py startup_state:=3
